<ion-header [translucent]="true">
  <ion-toolbar (click)="goHome()">
    <ion-title></ion-title>
    <ion-nav [root]="component"></ion-nav>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="captureScreen()">Scarica PDF</ion-button>
  <div id="pdfContent" #pdfContent *ngIf="!loaded"
    style="background-color: #ffffff; display: flex;flex-wrap: wrap; justify-content: center;width: 100%">
    <div class="body">

      <div class="container c{{data.col}}" style="padding: {{data.margin}}">
        <ng-container *ngFor="let item of data.pdf.images">
          <div class="card-pdf item">
            <ion-card style=" text-align: center;">
              <ion-card-header>
                <ion-card-title>{{item.name}}</ion-card-title>
                <ion-card-subtitle *ngIf="item.success">
                  <b style="color: green">Conforme</b>
                </ion-card-subtitle>
                <ion-card-subtitle *ngIf="!item.success">
                  <b style="color: red">Non conforme</b>
                </ion-card-subtitle>
              </ion-card-header>

              <ion-card-content style="min-height: 200px;max-width: 200px;">
                <ion-img [src]="item.src" style="max-height: 200px;"></ion-img>
                {{ item.desc }}
              </ion-card-content>
            </ion-card>
          </div>
        </ng-container>
      </div>
    </div>
  </div>


</ion-content>

<ion-footer>
  <div class="footer" style="background: white;">
    <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
      <li (click)="back()" class="nav-item" role="presentation">
        <a class="nav-link" id="ex1-tab-1" data-bs-toggle="tab" href="#ex1-tabs-1" role="tab" aria-controls="ex1-tabs-1"
          aria-selected="true">
          <ion-icon name="home-outline" class=""></ion-icon>
        </a>
      </li>
      <li class="nav-item" role="presentation" style="visibility: hidden;">
        <a class="nav-link " id="ex1-tab-2" data-bs-toggle="tab" href="#ex1-tabs-2" role="tab"
          aria-controls="ex1-tabs-2" aria-selected="false">
          <ion-icon name="documents-outline" class=""></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</ion-footer>