#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}


.footer {
  width: 100%;
  text-align: center;
  font-size: 30px;
  bottom: -20px;
}

.footer ul {
  width: 100%;
}

.footer ul li {
  width: 50%;
}

.footer ul li a {
  color: black
}

.footer ul li a.active {
  color: #3882FF;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-footer ion-icon {
  width: 33%;
  font-size: 30px;
  cursor: pointer;
}

ion-card {
  cursor: pointer;
}

ion-card:hover {
  border: color(53, 120, 229);
  color: rgb(53, 120, 229) !important;
}

ion-icon {
  font-size: 30px;
}

.image {
  width: 260px;
  height: 170px;
  margin: 20px;
  margin-left: 0px;
}

.pspace {
  padding-top: 20px;
  padding-bottom: 20px;
}

.pdf_m1 {
  margin: 38px;
}

.pdf_m3 {
  margin: 38px;
}

.pdf_m5 {
  margin: 38px;
}

ion-label {
  font-weight: bold;
}

.form-tab {
  overflow: auto;
}

.tab-pane.fade:not(.show) {
  display: none;
}

.body {
  background: linear-gradient(-45deg, #ff9f4d 10%, #ffc857 0, #ffc857 90%, #ff9f4d 0, #ff9f4d 100%);
  min-height: 100vh;
  margin-top: -10px;
}
