
<ion-menu [type]="menuType" #pdfActions contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item-group>
        <ion-item><div (click)="menuShowPdf()" class="d-flex flex-row justify-content-center align-items-center"><ion-icon style="margin-right: 10px;" name="arrow-forward-outline"></ion-icon> Apri</div></ion-item>
        <ion-item><div (click)="printPdf()" class="d-flex flex-row justify-content-center align-items-center"><ion-icon style="margin-right: 10px;" name="arrow-down-circle-outline"></ion-icon> Scarica PDF</div></ion-item>
        <ion-item><div (click)="delete()" class="d-flex flex-row justify-content-center align-items-center"><ion-icon style="margin-right: 10px;" name="trash-outline" (click)="delete()"></ion-icon> Elimina</div></ion-item>
      </ion-item-group>
    </ion-list>  
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <div class="d-flex justify-content-between">
        <div>
          {{ title }} 
        </div>
        <div>
          <ng-container>
            <ion-icon  (click)="newPdf()" name="add-outline"></ion-icon>
          </ng-container>          
        </div>
          
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="main">
    <div class="tab-content" id="ex1-content">
      <div
        class="tab-pane fade show active"
        id="ex1-tabs-1"
        role="tabpanel"
        aria-labelledby="ex1-tab-1"
      >
      <ng-container *ngIf="showcases">
        <ion-card class="card" *ngFor="let s of showcases; let ind = index">
          <ng-container>
          <ion-card-header>
            <ion-card-title>{{s.name}}</ion-card-title>
            <ion-card-subtitle><div class="d-flex justify-content-between col-12">Creato il: {{s.timestamp | date: 'Y-MM-dd'}}</div></ion-card-subtitle>
          </ion-card-header>
        
          <ion-card-content>
            <div class="d-flex justify-content-between col-12">
              <div><span>Foto: <b>{{getFoto(s)}}</b> Regolare: <b class="text-success">{{getSuccess(s)}}</b> Non a norma: <b class="text-danger">{{getErrors(s)}}</b></span></div>
              <div><ion-icon (click)="openMenu(s) " name="menu-outline"></ion-icon></div>
            </div>
          </ion-card-content>
        </ng-container>

        </ion-card>
      </ng-container>

      <ion-card class="card" *ngIf="!showcases.length">

        <ion-card-header>
          <ion-card-title>Nessun Report in archivio</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <div class="d-flex justify-content-between col-12">
            <div>Per iniziare premi il tasto + per crere il primo report</div>
          </div>          
        </ion-card-content>
      </ion-card>
      
      </div>
      </div>

      <div class="tab-pane fade" id="ex1-tabs-2" style="padding-top: 1em;" role="tabpanel" aria-labelledby="ex1-tab-2">
        <ion-modal trigger="open-modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel()">Annulla</ion-button>
                </ion-buttons>
                <ion-title>Nuovo PDF</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="confirm()" [disabled]="!pdf.title" [strong]="true">Conferma</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ion-item>
                <ion-label position="stacked">Nome del file</ion-label>
                <ion-input type="text" placeholder="Report" [(ngModel)]="pdf.title"></ion-input>
              </ion-item>
            </ion-content>
          </ng-template>
        </ion-modal>
        <ion-modal #print trigger="print-modal">
          <ng-template>
            <ion-header>
              <ion-toolbar>
                <ion-buttons slot="start">
                  <ion-button (click)="cancel2()">Annulla</ion-button>
                </ion-buttons>
                <ion-title>Genera PDF</ion-title>
                <ion-buttons slot="end">
                  <ion-button (click)="download()" [strong]="true">Scarica</ion-button>
                </ion-buttons>
              </ion-toolbar>
            </ion-header>
            <ion-content class="ion-padding">
              <ng-container *ngIf="currentMenuItem">
              <ion-item>
                Report: {{printPdfItem.pdf.title}}
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Elementi per riga</ion-label>
                <ion-input type="number"(ionChange)="redrawImages()" min="1" max="5" placeholder="3" [(ngModel)]="printPdfItem.col"></ion-input>
              </ion-item>
              <ion-item style="margin-bottom:20px">
                <ion-label position="stacked">Margine (cm)</ion-label>
                <ion-select style="width: 100%;max-width: 310px;" [(ngModel)]="printPdfItem.margin" label="Margine (cm)" labelPlacement="stacked">
                  <ion-select-option value="0px">1</ion-select-option>
                  <ion-select-option value="10px">3</ion-select-option>
                  <ion-select-option value="20px">5</ion-select-option>
                </ion-select> 
              </ion-item>

             </ng-container>
              </ion-content>
          </ng-template>
        </ion-modal>
        <div style="text-align: center;" *ngIf="pdf.title">
          <div class="col-12"><h1 class="col-12">{{pdf.title}}</h1>
          </div>
          <div>Creato il: {{pdf.timestamp | date: 'dd-MM-Y'}}</div>
          <ion-item-group>
            <ion-item-divider></ion-item-divider>
          </ion-item-group>
        </div>
        <ion-slides *ngIf="pdf.title" (ionSlideDidChange)="updateSlideIndex($event)" #mySlider pager="false">
          <ion-slide *ngFor="let pdf of pdf.images;let i = index">
          <div>
            <div>
              <ion-list>
                <ion-item-group>
                  <ion-item><h1>Fotografia #{{i + 1}}</h1></ion-item>
         
                  <ion-item style="border-color: transparent;">
                    <div class="d-flex justify-content-between col-12">
                      <div class="col-10">
                        <ion-img style="width: 80%;height: 200px;" src="{{pdf.src ? pdf.src : 'assets/images/image.png'}}"></ion-img>
                      </div>
                      <div class="col-2 d-flex flex-column justify-content-center align-items-center">
                        <div>
                          <ion-icon style="font-size: 50px;color:rgb(56, 128, 255)" (click)="addPhotoToGallery(i)" name="camera-outline"></ion-icon>
                        </div>
                        <div>
                          <ion-icon style="font-size: 50px;color:rgb(56, 128, 255)" (click)="getImage(i)" name="image-outline"></ion-icon>
                        </div>
                      </div>
                    </div>
                  </ion-item>

                  <ion-item class="pspace" style="border-color: transparent;">
                    <ion-label>Etichetta</ion-label>
                    <ion-input [(ngModel)]="pdf.name" labelPlacement="floating" label="Etichetta" value="">
                    </ion-input>
                  </ion-item>
                  
                  <ion-item class="pspace">
                    <ion-label>Predefinite</ion-label>
                    <ion-select style="max-width: 310px;" [(ngModel)]="pdf.desc" label="Descrizione" labelPlacement="stacked" placeholder="">
                      <ion-select-option value="Marcatura leggibile">Marcatura leggibile</ion-select-option>
                      <ion-select-option value="No deformazioni e/o cricche visive">No deformazioni e/o cricche visive</ion-select-option>
                      <ion-select-option value="Nessuna corrosione e/o ossidazione visiva">Nessuna corrosione e/o ossidazione visiva</ion-select-option>  
                      <ion-select-option value="Collegamenti a vite serrati">Collegamenti a vite serrati</ion-select-option>
                      <ion-select-option value="Fissaggio al sottofondo">Fissaggio al sottofondo</ion-select-option>
                      <ion-select-option value="Stabilità">Stabilità</ion-select-option>
                      <ion-select-option value="Coppia di serraggio dei fissaggi">Coppia di serraggio dei fissaggi</ion-select-option>
                      <ion-select-option value="Libertà di movimento di tutte le parti mobili">Libertà di movimento di tutte le parti mobili</ion-select-option>
                      <ion-select-option value="Controllo manuale/visivo fune">Controllo manuale/visivo fune</ion-select-option>
                      <ion-select-option value="Precarico della fune">Precarico della fune</ion-select-option>
                    </ion-select>             
                  </ion-item>


                  <ion-item style="padding-bottom: 20px;">
                    <ion-label style="padding-top: 20px;">Note</ion-label><br>
                    <ion-textarea style="width: 100%;max-width: 310px;" placeholder="Descrizione" [(ngModel)]="pdf.desc" label="Descrizione" labelPlacement="stacked" placeholder="">
                    </ion-textarea>                  
                  </ion-item>

                  <ion-radio-group [value]="pdf.success"  [(ngModel)]="pdf.success">
                    <ion-item>
                      <ion-label color="success">Conforme</ion-label>
                      <ion-radio  slot="end" [value]="1"></ion-radio>
                    </ion-item>
                
                    <ion-item>
                      <ion-label color="danger">Non conforme</ion-label>
                      <ion-radio slot="end" [value]="0"></ion-radio>

                    </ion-item>                  
                  </ion-radio-group>
                </ion-item-group>
                
              </ion-list>
            </div>
          </div>
          </ion-slide>

        </ion-slides>
        
        <div *ngIf="pdf.title" class="d-flex flex-row align-items-center justify-content-center col-12">
          {{currentIndex}} / {{pdf.images.length}}
        </div>

        <div *ngIf="pdf.title" style="padding: 1em;padding-bottom: 10px;" class="d-flex justify-content-between">
          <ion-button class="col-6" (click)="addSection()" ><ion-icon name="add-outline"></ion-icon> Aggiungi</ion-button>
          <ion-button class="col-6" (click)="savePdf()" ><ion-icon name="save-outline"></ion-icon> Salva</ion-button>         
        </div>

        <ion-card *ngIf="!pdf.title" class="card">

          <ion-card-header>
            <ion-card-title>Nessun Report in archivio</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <div class="d-flex justify-content-between col-12">
              <div>Per iniziare premi il tasto + per crere il primo report</div>
            </div>          
          </ion-card-content>
        </ion-card>
      </div>
  
      <div class="tab-pane fade" id="ex1-tabs-3" role="tabpanel" aria-labelledby="ex1-tab-3">
      </div>
  </div>

  </ion-content>
  <ion-footer>
    <div class="footer">
      <ul class="nav nav-tabs mb-3" id="ex1" role="tablist">
        <li (click)="toggleTab(0)" class="nav-item" role="presentation">
          <a
          class="nav-link {{activeItem == 0 ? 'active': ''}}"
          id="ex1-tab-1"
          data-bs-toggle="tab"
          href="#ex1-tabs-1"
          role="tab"
          aria-controls="ex1-tabs-1"
          aria-selected="true">
          <ion-icon name="home-outline" class=""></ion-icon>
        </a>
        </li>
        <li  (click)="toggleTab(1)"  class="nav-item" role="presentation">
          <a
          class="nav-link {{activeItem == 1 ? 'active': ''}}"
          id="ex1-tab-2"
          data-bs-toggle="tab"
          href="#ex1-tabs-2"
          role="tab"
          aria-controls="ex1-tabs-2"
          aria-selected="false">
          <ion-icon name="documents-outline" class=""></ion-icon>
        </a>
        </li>
      </ul>
    </div>
  </ion-footer>